body { 
	height: 100%; /*height added so gif can scroll*/
  background: url(../Pics/Mike.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
#Gifs{
	margin-left: 15%;
	  /*width: 45%;*/
    height: 100vh; 
    /*if height here excededs the height of body then overflow: scroll; takes over*/
    overflow: scroll;
    /*overflow: hidden; Was suppsoed to hide the scroll bar but just prevented scrolling*/
}

#ButtonsHere{
	margin-top: 2%;
}
#move-me{
	float: right;
	margin-top: 1%;
	margin-right: 10%;
}