body { 
	height: 100%;
  background: url(../Pics/Mike.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
#Gifs{
	margin-left: 15%;
	  /*width: 45%;*/
    height: 100vh;
    overflow: scroll;
    /*overflow: hidden;*/
}

#ButtonsHere{
	margin-top: 2%;
}
#move-me{
	float: right;
	margin-top: 1%;
	margin-right: 10%;
}